*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(87, 82, 82);
}
label{
    /* color: ; */
    color: rgb(211, 203, 203);
}
   /* first div background */
   .top{
    background-color: #000;
    height: 75px;
    }
    /* 1 div */
    /* logo */
.movielogo{
    padding-left: 5px;
    padding-top: 6px;
    height: 60px;
    image-resolution: 100px;
    
}

.top input{  
    /* position: relative; */
    width: 500px;
    /* height: 30px; */
    margin-bottom: 100px;
    margin-left: 200px;
    /* margin-top: px; */
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 2px;
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(202, 25, 25);
}
/* sigup button in 1 div*/

.si{
    margin-left: 400px;
    text-align: center;
    padding-right: 10px;
    margin-bottom: 500px;
    padding-top: 0px;
    font-style: italic;
    }
    /* form buttons */
    /* form div class  */
    .container{
        padding: 16px;
        width: 30%;
        height: auto;
        background-origin: padding-box;
        background-color:gainsboro;
        /* border: black */
        margin : 0 auto;
        display: block;
    
    }
    /* container in signup form */
    .box{
        width: 30%;
        height: 10px;
    }
    /* cancel insign form button class*/
    .cancelButton{ 
        background-color:red; 
         padding: 14px 20px; 
     } 
    /* sign button class  in signup form*/
    .SignUpButton{
        background-color:green;
        padding: 14px 20px;
    }
    /* buttons in sign up form */
    .cancelButton, .SignUpButton {
       float: left;
       width: 30%;
    }
    /* To fix content in correct place  */
    .clearfix::after{
        content: "";
        clear: both;
        display: table;
    }
    .lo{
    
    text-align: center;
    padding-right: 10px;
    margin-bottom: 500px;
    padding-top: 0px;
    font-style: italic;
    }
    form {border: 3px solid #f1f1f1;}
    img.avatar {
        /* width: 20%; */
        border-radius: 50%;
        height: 90px;
      }
      /* button */
      
input[type=text], input[type=password]   
{
    width: 100%;
    padding:15px;
    margin:5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
 button 
input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
 } 
hr{
    border: 1px solid #f1f1f1;
}
button:hover{ 
opacity: 1;
}
.login{
    width: 100%;
    height: 5%;
    background-color: green;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width:300px) {
    .cancelButton, .SignUpButton {
        width: 100%;
    }
}
span.psw {
    float: right;
    padding-top: 16px;
    display: block;

  }
  
    
/* index page text button colors 2 div */
a{
    text-decoration: none; 
    color:red;
    
    }
 
/* 2 div tab  */
.ul{
    float: left;
    list-style-type: none;
    padding: 0; 
    overflow: hidden;
    background-color: #333;
    /* border: 1px solid black; */
    box-shadow:1px 1px 2px 2px black;
    height:40px;
    width: 100%;
}
/* list hover */
li a:hover{
    
    color:white;
    font-size:  20px;
    box-shadow:12px -12px 12px 2px crimson;

}
/* list div arrangements */
 li{ 
    float: left;
    display: block;
    color:red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.slideImage{
    height: 500px;
}

/* index 3 div */
  
 /* Slideshow container */
.slideshow-container {
    /* margin-top: 1000px; */
      width: 100%;
      top: 5px;
       position: relative;
      height: 475px;
      z-index: -1;
    }
    .slideshow-container img{
    
        height: 100px;
        background-color: black;
    } 
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
     /* On smaller screens, decrease text size  */
    @media only screen and (max-width: 300px) { 
      .text {font-size: 11px}
     }
    .imgslide{
      width: 100%;
    border: 2px solid red;
    
    }
        /* movies tab*/
   .moviesPage{
       /* float:none; */
       /* margin-left: 40%; */
       padding: 20px;
       text-align: center;
   }

  
         
         .movieContainer>div
         {
             padding: 10px 0;
           
             margin:5px 0;
             position: relative;
             
         }
         .moviesHead{
             float: right;
             margin-right: 950px;
             
         }
    
 
        .productImg{
            width: 300px;
            height: 150px;
            float: right;
            margin-right: 50px;
            margin-top: 10px;
        }
/* filter tab in movies */
/* .m represents background color for all tab*/
.fil{
    width: 20%;
    position: absolute;
    top: 130px;
    color: rgb(211, 203, 203);
    left: 10px;
    
    
}


    .box1{
        margin-top: 20px;
        padding: 30px;
        float: left;
        border: 2px solid red;

    }
    /* .container3{
        
        
        padding: 30px;
        width: 30%;
        border: 2px solid red;
        margin : 100px auto;
        display: block;
       
    } */
    .movielogo1{
        padding-left: 5px;
        padding-top: 6px;
        height: 60px;
        image-resolution: 100px;
             }

    #date, #nooftickets, #time, #username, #email, #password, #password-repeat, #password1
    {
        width: 100%;
        padding: 10px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        box-sizing:border-box;

    }


    .movielogo2{
        height: 150px;
        /* width: 50px; */
        /* float: right; */
        margin-right: 350px;
        padding: 10px;
    }

/* about page */
 .aboutPage{
    padding: 20px;
    text-align: center;

   }
   .feedBack{
    margin-left: 90px;
   }

   /* bookPage */
.bookPage{
    padding: 16px;
    width: 30%;
    height: auto;
    background-origin: padding-box;
    background-color:gainsboro;
    margin : 0 auto;
    display: block;
  
} 

    
    /* Slideshow container */
.slideshow-container {
    width: 100%;
     position: relative;
    height: 475px;
  }
  .slideshow-container img{
  
      height: 450px;
      background-color: black;
  } 
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .imgslide{
    width: 100%;
  border: 2px solid red;
  }


  /*  */