/* Slideshow container */
.slideshow-container {
    width: 100%;
     position: relative;
    height: 475px;
  }
  .slideshow-container img{
  
      height: 450px;
      background-color: black;
  } 
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .imgslide{
    width: 100%;
  border: 2px solid red;
  }